        <div class="container-fluid">
            <div class="footer fixed-bottom">
                <a target="" href="/">
                <img src="/img/Display_Picture_Twitter-02-01.png" alt="" />
                </a>
            </div>
        </div>
    </body>
</html>
